@import "partials/_variables";
.container {
	padding-top: 30px;
}

.layout {
	width: 100%;
	max-width: 800px;
	padding: 30px;
	background: #ebebeb;
	margin: 0 auto;
}

.title {
  text-align: center;
}

.error {
	color: red;
}

.li-space {
	padding-bottom: 40px;
}